@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Museo Sans Cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Museo Sans Cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Museo Sans Cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-900.woff2") format("woff2");
}

:root {
  --color-text:         #1a1a1a;
  --color-background:   #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Museo Sans Cyrl", "Arial", sans-serif;
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;

  background-color: var(--color-background);
}

a {
  text-decoration: none;

  transition: color 0.3s ease;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}


@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
}


@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}


@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }
}


@media (max-width: 413px) {
  .container {
    padding: 0 10px;
  }
}
