/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: Chrome >= 35,Firefox >= 38,Opera >= 18,Safari >= 8,Edge >= 13,last 2 ChromeAndroid versions,last 2 FirefoxAndroid versions
*/

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Museo Sans Cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Museo Sans Cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Museo Sans Cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-900.woff2") format("woff2");
}

:root {
  --site-color-accent:                     #36ba5f;
  --site-color-accent-action:              #0b9034;
  --site-color-text:                       #1a1a1a;
  --site-color-background:                 #ffffff;

  --site-block-color-background:           var(--site-color-background);
  --site-block-shadow:                     0 20px 60px 0 rgba(26, 26, 26, 0.05);

  --site-item-color-background:            var(--site-color-background);
  --site-item-shadow:                      0 0 30px 0 rgba(0, 0, 0, 0.05);

  --btn-color-text:                        #ffffff;
  --btn-color-background:                  var(--site-color-accent);
  --btn-color-background-action:           var(--site-color-accent-action);
  --btn-light-color-text:                  var(--site-color-text);
  --btn-light-color-background:            var(--site-color-background);
  --btn-light-color-background-action:     #eaeaea;
  --btn-inverted-color-text:               var(--site-color-accent);
  --btn-inverted-color-text-action:        var(--site-color-accent-action);
  --btn-inverted-color-background:         #f9f9f9;
  --btn-inverted-color-background-action:  #eaeaea;

  --hero-content-color-text:               #ffffff;
  --hero-content-color-background:         #93bbea;

  --social-list-btn-color-text:            var(--site-color-accent);
  --social-list-btn-color-background:      #f9f9f9;
  --social-list-btn-color-text-action:     var(--site-color-accent-action);

  --question-card-color-text:              #949494;
  --question-card-color-background:        var(--site-color-background);

  --faq-btn-color-text:                    var(--site-color-text);
  --faq-btn-color-text-action:             var(--site-color-accent);
  --faq-btn-color-background:              var(--site-color-background);
  --faq-btn-shadow:                        0 1px 7px rgba(0, 0, 0, 0.09);
  --faq-btn-shadow-action:                 0 1px 7px rgba(54, 186, 95, 0.15);

  --help-btn-color-text:                   var(--site-color-text);
  --help-btn-color-background:             var(--site-color-background);
  --help-btn-shadow:                       var(--site-item-shadow);
  --help-btn-shadow-action:                0 0 30px 0 rgba(54, 186, 95, 0.15);

  --help-question-descr-color-text:        #949494;
  --help-question-decor-color-text:        #949494;
  --help-question-decor-color-text-action: var(--site-color-accent);

  --share-link-color-text:               var(--site-color-accent);
  --share-link-color-text-action:        var(--site-color-accent-action);


  --transition-default: 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Museo Sans Cyrl", "Arial", sans-serif;
  color: var(--site-color-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;

  background-color: var(--site-color-background);
}

section {
  margin: 80px 0;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

h4,
h5,
h6 {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
}

a {
  text-decoration: none;

  transition: color var(--transition-default);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}


[data-accordion="element"].is-active > [data-accordion="content"] {
  max-height: 100%;
}

[data-accordion="parent"].no-transition [data-accordion="content"] {
  transition: none;
}

[data-accordion="content"] {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}


.btn {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 224px;
  padding: 15px 10px;

  font: inherit;
  line-height: 1.2;
  color: var(--btn-color-text);

  background-color: var(--btn-color-background);
  border: none;
  border-radius: 12px;
  cursor: pointer;

  transition:
    color var(--transition-default),
    background-color var(--transition-default);
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--btn-color-background-action);
}

.btn > *:not(:first-child) {
  margin-left: 8px;
}

.btn:disabled {
  opacity: 0.5;

  pointer-events: none;
}

.btn--light {
  color: var(--btn-light-color-text);

  background-color: var(--btn-light-color-background);
}

.btn--light:hover,
.btn--light:focus-visible {
  background-color: var(--btn-light-color-background-action);
}

.btn > *:not(:first-child) {
  margin-left: 8px;
}

.btn--inverted {
  color: var(--btn-inverted-color-text);

  background-color: var(--btn-inverted-color-background);
}

.btn--inverted:hover,
.btn--inverted:focus-visible {
  color: var(--btn-inverted-color-text-action);

  background-color: var(--btn-inverted-color-background-action);
}

.btn--pictogram {
  width: 48px;
  min-width: unset;
  height: 48px;
}


.hero {
  margin-top: 40px;
}

.hero__content {
  padding: 40px;
  padding-bottom: 55px;

  color: var(--hero-content-color-text);

  background-color: var(--hero-content-color-background);
  background-image:
    url("../img/airplanes.svg"),
    url("../img/phone-in-hand.svg");
  background-repeat: no-repeat;
  background-size:
    263px 196px,
    277px 226px;
  background-position:
    left top 37px,
    right bottom;
  border-radius: 40px;
}

.hero__text-content {
  text-align: center;
}

.hero__text-content:not(:last-child) {
  margin-bottom: 40px;
}

.hero__title {
  max-width: 540px;
  margin: 0 auto;
}

.hero__title:not(:last-child) {
  margin-bottom: 4px;
}

.hero__descr {
  max-width: 540px;
  margin: 0 auto;

  font-size: 17px;
}

.hero__descr:not(:last-child) {
  margin-bottom: 4px;
}

.hero__action-list {
  --cols: 4;
  --gap: 8px;

  display: -webkit-flex;

  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  width: calc(var(--cols) * 160px + var(--cols) * var(--gap));
  margin: calc(-1 * (var(--gap) / 2)) auto;
  padding: 0;
  list-style: none;
}

.hero__action-list:not(:last-child) {
  margin-bottom: 40px - calc(var(--gap) / 2);
}

.hero__action-item {
  padding: calc(var(--gap) / 2);
}

.hero__action-btn {
  width: 160px;
  min-width: unset;
}


.social__content {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  max-width: 996px;
  margin: 0 auto;
  padding: 40px;

  background-color: var(--site-block-color-background);
  box-shadow: var(--site-block-shadow);
  border-radius: 40px;
}

.social__text-content {
  -webkit-align-self: flex-start;
          align-self: flex-start;
}

.social__text-content:not(:last-child) {
  margin-right: 40px;
}

.social__descr {
  max-width: 400px;
  margin: 0;

  font-weight: 600;
}

.social__descr:not(:last-child) {
  margin-bottom: 16px;
}

.social__title {
  max-width: 400px;
  margin: 0;
}

.social__title:not(:last-child) {
  margin-bottom: 16px;
}

.social-list {
  --cols: 6;
  --gap: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  width: calc(var(--cols) * 56px + var(--cols) * var(--gap));
  margin: calc(-1 * (var(--gap) / 2));
  padding: 0;
  list-style: none;
}

.social-list:not(:last-child) {
  margin-right: 40px - calc(var(--gap) / 2);
}

.social-list__item {
  padding: calc(var(--gap) / 2);
}

.social-list__btn {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  width: 56px;
  height: 56px;

  color: var(--social-list-btn-color-text);

  background-color: var(--social-list-btn-color-background);
  border-radius: 14px;

  overflow: hidden;

  transition:
    color var(--transition-default),
    background-color var(--transition-default);
}

.social-list__btn:hover,
.social-list__btn:focus-visible {
  color: var(--social-list-btn-color-text-action);
  background-color: var(--social-list-btn-color-background-action);
}


.faq__title {
  margin: 0;

  text-align: center;
}

.faq__title:not(:last-child) {
  margin-bottom: 32px;
}

.faq__inner {
  --margin: 12px;
  position: relative;

  margin: calc(-1 * var(--margin));
  padding: var(--margin);
}

.faq__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.faq__item {
  height: unset;
}

.faq__btn {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;

  width: 44px;
  height: 44px;

  color: var(--faq-btn-color-text);

  background-color: var(--faq-btn-color-background);
  border: none;
  border-radius: 50px;
  box-shadow: var(--faq-btn-shadow);

  cursor: pointer;

  transition:
    color var(--transition-default),
    box-shadow var(--transition-default);
}

.faq__btn--prev {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.faq__btn--next {
  left: unset;
  right: 12px;
}

.faq__btn:hover,
.faq__btn:focus-visible {
  color: var(--faq-btn-color-text-action);
  box-shadow: var(--faq-btn-shadow-action);
}


.question-card {
  display: -webkit-flex;
  display: flex;

  height: 100%;
  padding: 16px;
  background-color: var(--question-card-color-background);
  border-radius: 16px;
  box-shadow: var(--site-item-shadow);
}

.question-card__text-content {
  -webkit-flex-grow: 1;
          flex-grow: 1;
}

.question-card__text-content:not(:last-child) {
  margin-right: 12px;
}

.question-card__question {
  margin: 0;
}

.question-card__question:not(:last-child) {
  margin-bottom: 8px;
}

.question-card__answer {
  margin: 0;

  color: var(--question-card-color-text);
}

.question-card__answer:not(:last-child) {
  margin-bottom: 8px;
}

.question-card__pic {
  -webkit-align-self: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;

  margin-right: -16px;
}


.help__title {
  margin: 0;

  text-align: center;
}

.help__title:not(:last-child) {
  margin-bottom: 32px;
}

.help__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.help__item:not(:last-child) {
  margin-bottom: 12px;
}

.help__question {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  padding: 20px 16px 20px 24px;

  font: inherit;
  line-height: 1.2;
  text-align: left;
  color: var(--help-btn-color-text);

  background-color: var(--help-btn-color-background);
  border: none;
  border-radius: 12px;
  box-shadow: var(--help-btn-shadow);
  cursor: pointer;

  transition: box-shadow var(--transition-default);
}

.help__question:hover,
.help__question:focus-visible {
  box-shadow: var(--help-btn-shadow-action);
}

.help__question:disabled {
  opacity: 0.5;

  pointer-events: none;
}

.help__question-inner {
  max-width: 450px;
  margin-right: 24px;
}

.help__question-title {
  display: block;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.help__question-title:not(:last-child) {
  margin-bottom: 4px;
}

.help__question-descr {
  display: block;

  color: var(--help-question-descr-color-text);
}

.help__question-descr:not(:last-child) {
  margin-bottom: 4px;
}

.help__question-decor {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;

  width: 24px;
  height: 24px;

  color: var(--help-question-decor-color-text);

  transition:
    color var(--transition-default),
    -webkit-transform var(--transition-default);

  transition:
    color var(--transition-default),
    transform var(--transition-default);

  transition:
    color var(--transition-default),
    transform var(--transition-default),
    -webkit-transform var(--transition-default);
}

.is-active .help__question-decor {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.help__question:hover .help__question-decor,
.help__question:focus-visible .help__question-decor {
  color: var(--help-question-decor-color-text-action);
}

.help__answer {
  padding: 0 16px 0 24px;
}

.help__answer-inner {
  margin: 0.33em 0;
}


.content {
  margin: 22px 0;
}

.content h1,
.content h2 {
  margin: 0.67em 0;

  font-weight: 700;
  font-size: 24px;
}

.content h3{
  margin: 0.67em 0;

  font-weight: 700;
  font-size: 20px;
}

.content h4,
.content h5,
.content h6 {
  margin: 1em 0;

  font-weight: 700;
  font-size: 15px;
}

.content__inner {
  max-width: 700px;
}

.content__share-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-left: 6px;

  color: var(--share-link-color-text);
}

.content__share-link:hover,
.content__share-link:focus-visible {
  color: var(--share-link-color-text-action);
}

.content__footer:not(:first-child) {
  margin-top: 40px;
}

.content-footer__descr {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
}

.content-footer__descr:not(:last-child) {
  margin-bottom: 16px;
}

.content-footer__action-list {
  --gap: 8px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: calc(-1 * (var(--gap) / 2));
  padding: 0;
  list-style: none;
}

.content-footer__action-list:not(:last-child) {
  margin-bottom: 40px - calc(var(--gap) / 2);
}

.content-footer__action-item {
  padding: calc(var(--gap) / 2);
}


@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }


  .hero__action-list {
    --cols: 2;
  }


  .social__content {
    -webkit-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
  }

  .social__text-content:not(:last-child) {
    -webkit-align-self: unset;
                -ms-grid-row-align: unset;
            align-self: unset;
    margin-right: 0;
    margin-bottom: 40px;

    text-align: center;
  }

  .social-list:not(:last-child) {
    margin: calc(-1 * calc(var(--gap) / 2));
    margin-bottom: 40px - calc(var(--gap) / 2);
  }


  .faq__inner {
    --margin: 30px;
  }

  .faq__btn {
    display: none;
  }
}


@media (max-width: 767px) {
  section {
    margin: 40px 0;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-weight: 600;
    font-size: 30px;
  }


  .container {
    padding: 0 20px;
  }


  .hero {
    margin-top: 20px;
  }

  .hero__content {
    padding: 20px;
    padding-bottom: 25px;

    border-radius: 20px;
  }

  .hero__text-content:not(:last-child) {
    margin-bottom: 20px;
  }

  .hero__descr {
    font-size: 15px;
  }

  .hero__action-list:not(:last-child) {
    margin-bottom: 20px - calc(var(--gap) / 2);
  }


  .social__content {
    padding: 20px;

    border-radius: 20px;
  }


  .faq__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .faq__inner {
    --margin: 20px;
  }

  .faq__item {
    width: 320px;
  }


  .help__title:not(:last-child) {
    margin-bottom: 20px;
  }


  .content h1,
  .content h2 {
    font-weight: 700;
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }


  .hero__content {
    background-size: 132px 98px, 139px 113px;
  }


  .social-list {
    --cols: 3;
  }


  .faq__inner {
    --margin: 15px;
  }
}


@media (max-width: 413px) {
  html {
    font-size: 13px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }


  .container {
    padding: 0 10px;
  }


  .hero__action-list {
    --cols: 1;
  }


  .faq__inner {
    --margin: 10px;
  }

  .faq__item {
    width: 270px;
  }
}
